.header{
    height: 34vw;
    margin:30px auto;
    background: url('/header_img3.png') no-repeat center center;
    background-size: cover;
    position: relative;
}  

.headercontent{
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1.5vw;
   max-width: 50%;
   bottom: 10%;
   left: 6vw;
   color: rgba(255, 255, 255, 0.815);
   opacity: 0;
  transform: translateX(-100%); 
  animation: slideInFromLeft 0.6s ease-out forwards;
  animation-delay: calc(0.15s * var(--index)); 
}


.headercontent h2{
    font-weight: 500;
    font-size: max(4.5vw,22px);
    color: white;
}
.view{

font-weight:500;
padding: 1vw 2.3vw;
background-color: white;
font-size:max(1vw,13px);
border-radius: 50px;
cursor: pointer;
color:black;


}

.view:hover{
    color:tomato;
    font-size: large;
}