.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size:max(3vw,20px) ;
    text-align: center;
    font-weight: 500;
}

.app-download .a{
    width:160px;
    height: auto;
}
.app-download p {
 
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 20px;
}

.app-download img {
  width: 160px;  
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.app-download img:hover {
  transform: scale(1.05);
}
