@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

a {
  
  color: inherit;
  text-decoration:none;
}


body {
  min-height: 100vh;
  
}

.app{
  width: 80%;
  margin: auto;
 
}

@keyframes slideInFromLeft {
  0%{
    transform: translateX(-100%);
    opacity:0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}