.my-orders {
    margin: 50px 0px;
}

.my-orders .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders-order {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 30px;
    border: 1px solid tomato;
    padding: 10px 20px;
    border-radius: 6px;
}

.my-orders-order img {
    width: 50px;
}

.my-orders-order select {
    background-color: #ffeaea;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

.my-orders-order button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    width: max(10vw, 120px);
}

.my-orders-order button:hover {
    background-color: #ffcccc;
}

@media (max-width: 750px) {
    .my-orders-order {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 15px;
    }

    .my-orders-order img {
        width: 40px;
    }

    .my-orders-order button {
        width: 100%;
    }
}