.footer{
    color:#d9d9d9;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;

}
.im{
    padding: 5px 5px 5px 5px;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
}
.im :hover{
    transform: scale(1.05);
}
.footerlogo{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:80px;
}
.footer-content-left , .footer-content-right , .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left li , .footer-content-right li , .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-right h2 , .footer-content-center h2 {
    color: white;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;

}