.explore-menu-list{
display:flex;
flex: column;
gap: 20px;


}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}

.explore-menu-list-item img{
padding: 30px 30px 30px 30px;
border-radius: 800px;
width: 220px;
height: 220px;
}

.explore-menu-text{
    max-width: 60%;
    columns: #808080;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
display: none;
}
.explore-menu-list-item{
    
   
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
 
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;

}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}
