.food-item-image {
    width: 240px;
    height: 240px;
    border-radius: 15px 15px;
}

.name {
    font-size: 28px;
    font-family: cursive;
    font-weight: 300;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;




}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 200;
}

.food-item-name-rating img {
    width: 100px;
}

.food-item-desc {
    color: #676767;
    font-size: 12px;
}

.food-item-price {
    color: rgb(233, 129, 11);
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}

.add {
    width: 31px;
}

.food-item-counter img {
    width: 31px;
}


.food-item-img-container {
    position: relative;
}
.food-item-img-container .add{
 width: 35px;
 position: absolute;
 bottom: 15px;
 right: 15px; 
 padding: 5px 5px 5px 5px;
border-radius: 100px;
width: 45px;
height: 45px;

}
.food-item-counter{
    position: absolute;
    bottom: 15px;
   right:15px;
   border-radius: 50px; 
   display: flex;
   gap:10px;
   padding: 6px;
   align-items: center;
   background-color: aliceblue;
}
.food-item-counter img{
    width: 30px;
}

.food-item-img-container  {
  
  cursor: pointer;
}
